[[redirects]]
  from = "/compare"
  to = "/compare/index.html"
  status = 200
  force = false

[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_TELEMETRY_DISABLED = "1"

[[plugins]]
  package = "@netlify/plugin-nextjs"
